.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .banner-text {
    font-weight: 700;
    font-size: xx-large;
    Width:471px;
    Height: 140px;
    font-family: 'Roboto', sans-serif;
    margin-top: 130px;
  
  
  }
  
  .banner-img{
  Width:350px;
  Height:350px;
  Top:9px;
  Left:4px;
  }
  