.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(210.69deg, #000000 29.02%, #5931AC 69.81%, rgba(239, 189, 60, 0.72) 112.42%);
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}


